<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script defer type="text/javascript" src="/js/guidejquery.js"></script>
<!--  -->

<!-- Guide Step 1 -->
<div class="col-md-12 panel panel-default text-center guide-div-1">

    <h1>I want to do something...</h1>
    <form id="g-form1" action="/guide/data" method="get">
    <div id="gb-out" class="col-sm-6">
      <h3 class="img-header text-center"><span>Outdoors</span></h3>
      <label class="img-label">
        <input class="form-group" type="radio" name="location" value="ðŸŒ³">
      <img src="./images/guide-outdoor.jpg" alt="">
      </label>
    </div>
    <div id="gb-in" class="col-sm-6">
      <h3 class="img-header"><span>Indoors</span></h3>
      <label class="img-label">
        <input class="form-group" type="radio" name="location" value="ðŸ ">
      <img src="./images/guide-inside.jpg" alt="">
      </label>
    </div>
    <div class="col-md-12">
      <a id="g-next1" class="btn btn-primary">Next</a>
    </div>

</div>


<!-- Guide Step 2 -->
<div class="col-md-6 col-md-offset-3 panel panel-default guide-div-2">
  <div class="panel-body text-center">
    <h1>Cost level...</h1>
    <div class="col-md-6">
      <p>ðŸ’°</p>
      <input type="radio" name="cost" value="ðŸ’°">
    </div>
    <div class="col-md-6">
      <p>ðŸ’°ðŸ’°</p>
      <input type="radio" name="cost" value="ðŸ’°ðŸ’°">
    </div>
    <div class="col-md-6">
      <p>ðŸ’°ðŸ’°ðŸ’°</p>
      <input type="radio" name="cost" value="ðŸ’°ðŸ’°ðŸ’°">
    </div>
    <input class="form-group" id="" type="submit" name="submit" value="Next"></input>
    </form>
    </form>
  </div>
</div>
