<div class="col-md-12">
  <ul class="breadcrumb">
  <li><a href="/">Return to Activity Index</a></li>
  <li class="active">Find Me an Activity: No Result Found</li>
</ul>

</div>
<div class="col-md-8 col-md-offset-2 panel panel-default">
  <div class="panel-body text-center">
    <h1>Sorry!</h1>
    <h3>No activities were found that match your requested search.</h3>
    <br>
    <a class="btn btn-primary" href="/">Return to activity index</a>
    <h4>or</h4>
    <a class="btn btn-success" href="/signup">Sign up and add your own activity ideas!</a>
  </div>

  </div>
