body {
  /*padding: 20px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

.navbar {
  margin-bottom: 0px;
}

.brand {
    font-size: 2.5rem;
    font-style: italic;
    position: absolute;
    left: 50%;
    margin-left: -80px !important;  /* 50% of your logo width */
    display: block;
}

.guide-bar {
  height: 150px;
  margin-bottom: 20px;
}

.guide-bar a {
margin-top: 50px;
}

.thumb-title {
  font-size: 2rem;
}

.img_url {
  max-height: 200px;
  max-width: 100%;
}

.show-img_url {
  max-height: 300px;
  max-width: 100%;
}

.sidebar-col {
  padding: 0px;
}

.background-shade{
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-radius: 4px;
  text-align: center;
}

.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background:#fff;
}
.dropdown {
    background:#fff;
    border:1px solid #ccc;
    border-radius:4px;
    width:300px;
}
.dropdown-menu>li>a {
    color:#428bca;
}
.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:20px;
    width:300px;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}

.col-md-6 {
padding-right: 0px
}

.li-attr {
  padding: 0px;
  list-style: none;
}

.show-well {
  margin-top: 10px;
}

.img-label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.img-label > input + img{ /* IMAGE STYLES */
  width: 100%;
  cursor: pointer;
  border: 2px solid transparent;
}
.img-label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border: 3px solid #2780E3;
}

.img-header {
  position: absolute;
  top: 20px;
  left: 80px;
}

.img-header span {
color: white;
letter-spacing: -1px;
background: rgb(0, 0, 0); /* fallback color */
background: rgba(0, 0, 0, 0.7);
padding: 4px 10px;
}

#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  background-color:#f5f5f5;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}

#main {
  height:100%;
  overflow:auto;
}

.guide-buttons {
  margin: 10px 0px;
  display:none;
}

#guide-div-2 {
  display: none;
}

#guide-div-3 {
  display: none;
}

#guide-div-4 {
  display: none;
}

#guide-div-5 {
  display: none;
}

.li-attr {
  font-size: 15px;
}

.li-col {
  font-size: 15px;
}

/*.activity{
  height: 300px;
}*/

.a-lg {
  font-size: 3rem;
}
