
<div class="row well">
  <div class="col-lg-6 col-lg-offset-3">

    <p>This action cannot be undone.</p>
    <p>Are you sure you want to delete? Enter username and password to confirm.</p>

    <div class="form-group">
      <input type="password" name="password" id="password" class="form-control" placeholder="Password">
    </div>

    <div class="form-group col-lg-12">
      <form class="" action="/users/delete/{{thisUser.id}}?_method=DELETE" method="post">
        <input type="submit" name="delete-user-submit" class="btn btn-danger" value="Yes, I want to delete my account">
      </form>
        <a href="/users/{{thisUser.id}}" class="btn btn-info">Go Back</a>
    </div>

  </div>
</div>
