<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="./login" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="./signup" id="register-form-link">Sign Up</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="register-form" action="/users" method="post" role="form">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
									</div>
									<div class="form-group">
										<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
									</div>
									<div class="form-group">
										<input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
									</div>

                    <div id="avatar_url">
                      <form>
                        <label class="avatars">
                        <input type="radio" name="avatar_url"/>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Solid_pink.svg/1024px-Solid_pink.svg.png" alt="" style="width:250px;height:150px;"/>
                        </label>

                        <label class="avatars">
                        <input type="radio" name="avatar_url"/>
                        <img src="https://img.clipartfest.com/f58d0131d6ea684d22ea69813033e52f_solid-colors-solid-color-square-clipart-free_236-236.jpeg" alt="" style="width:250px;height:150px;"/>
                        </label>

                        <label class="avatars">
                        <input type="radio" name="avatar_url"/>
                        <img src="https://www.familybedding.com/img/p/l/1/e/5/d/131648/Candy_Green_Solid_Color_16_Square_Throw_Pillow.jpg" alt="" style="width:250px;height:150px;"/>
                        </label>

                        <label class="avatars">
                        <input type="radio" name="avatar_url"/>
                        <img src="http://cdn.playbuzz.com/cdn/402d3240-a1df-4b70-ab11-0204c82b2b06/4500b257-1e5b-4a76-88af-0cae0d20057c.jpg" alt="" style="width:250px;height:150px;"/>
                        </label>

                      </form>
                    </div>


                <br>


									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
											</div>
										</div>
									</div>
								</form>
							</div> <!--Column -->
						</div> <!-- Row -->
					</div> <!--Panel Body -->
				</div>
			</div>
		</div>
	</div>

  <script src="/js/jquery-3.2.0.min.js" charset="utf-8"></script>
  <script src="/js/requests.js" charset="utf-8"></script>
  <script type="text/javascript">
